{% extends 'base.html.twig' %}

{% block container %}

<div class="container-fluid col-7 float-left m-0" style="height: 100%;">
<div class="card-header col-12 text-center mb-2 card-my" style="font-size: 2vw;">
    Creer un(e) nouveau(nouvelle) étudiant(e)
  </div>
 <div class="champObligatoire col-8 m-auto" id="error-1" ></div>
    <div class="input-group col-10 mb-2" style="height:3vw;">
      <div class="input-group-prepend">
        <span class="input-group-text span-size input-group-my"> Prenom: </span>
      </div>
      <input id="prenom" type="text" aria-label="First name" name="prenom" class="form-control">
    </div>
<div class="champObligatoire col-8 m-auto" id="error-2" ></div>
  <div class="input-group col-10 mb-2" style="height:3vw">
    <div class="input-group-prepend">
      <span class="input-group-text span-size input-group-my"> Nom: </span>
    </div>
    <input id="nom" type="text" aria-label="First name"  name="nom" class="form-control">
  </div>
<div class="champObligatoire col-8 m-auto" id="error-3" ></div>
  <div class="input-group col-10 mb-2" style="height:3vw;">
    <div class="input-group-prepend">
      <span class="input-group-text span-size input-group-my"> Tel: </span>
    </div>
    <input id="tel" type="tel" aria-label="First name" name="tel" class="form-control">
  </div>
<div class="champObligatoire col-8 m-auto" id="error-4" ></div>
  <div class="input-group col-10 mb-2" style="height:3vw;">
    <div class="input-group-prepend">
      <span class="input-group-text span-size input-group-my"> Email: </span>
    </div>
    <input id="email" type="email" aria-label="First name" name="email" class="form-control">
  </div>
<div class="champObligatoire col-8 m-auto" id="error-5" ></div>
  <div class="input-group col-10 mb-2" style="height:3vw;">
    <div class="input-group-prepend">
      <span class="input-group-text span-size input-group-my"> Date de Naissance: </span>
    </div>
    <input id="dateNaiss" type="date" aria-label="First name" name="dateNaiss" class="form-control">
  </div>
<button class="btn btn-secondary m-auto btn-lg btn-block col-6" style="height:3vw;font-size:2vw; width:15vw" name="creerEtudiant" id="creerEtudiant" type="submit">Valider</button>

</div>
<div class="container-fluid col-5 float-right justify-content-center" style="height: 100%;background-color:#227676">
<div class="card-header col-12 bg-white text-center mb-2 card-my">
   Configurations partielles
  </div>
  <br>
<div class="input-group col-10 m-auto">
  <div class="input-group-prepend">
    <span class="input-group-text span-size">Bourse</span>
  </div>
  <select class="custom-select custom-select-lg span-size" id="bourse" name="bourse">
  <option selected>Non</option>
  <option value="20000">20 200</option>
  <option value="40000">40 000</option>
</select>
</div>
<br>
<div class="input-group col-10 m-auto">
  <div class="input-group-prepend">
    <span class="input-group-text span-size">Logement</span>
  </div>
  <select class="custom-select custom-select-lg span-size" id="logement" name="logement">
  <option selected>Veuillez choisir</option>
  <option value="Oui">Oui</option>
  <option value="Non">Non</option>
</select>
</div>
<br>
<div class="input-group col-10 m-auto">
  <div class="input-group-prepend">
    <span class="input-group-text span-size"> Adresse: </span>
  </div>
  <input id="adresse" type="text" aria-label="First name" name="adresse" class="form-control">
</div>
<br>
</div>
{% endblock %}

{% block javascripts %}
<script src="js/ValidationEtudiant.js" ></script>
{% endblock %}

{% block phpPart %}
 
{% endblock %}